/venv
/.venv
regresionLineal.ipynb
1_MY1995-2023-Fuel-Consumption-Ratings.csv
01_PreparaciónDataset01Regresion.ipynb
2_vehicle_emission_dataset.csv
app.ipynb
__pycache__/
modelo_SVR_RBF.pkl
MaquinaVectores.ipynb
Juan Pablo Betancur - Alfonso Cuesta - Juan Pablo Marín.rar